@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    color: #454545;
}

.container-fluid {
    max-width: 1128px;
}

h2 {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;

    @media all and (max-width: 767px) {
        font-size: 36px;
    }
    @media all and (max-width: 575px) {
        font-size: 24px;
    }
}

a {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: #333;
    }
}

.block {
    padding: 56px 0;
    overflow: hidden;
}

.btn.custom-button {
    background: linear-gradient(
        180deg,
        #ff7177 -0.67%,
        #ff7177 -0.66%,
        #764393 100.67%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    font-size: 16px;
    min-width: 252px;
    padding: 9px;
    color: #fff;
    border: none;
}

/*  block-main
-------------------------------*/
.block-main {
    padding-top: 56px;
    padding-bottom: 90px;
}

.logo {
    @media all and (max-width: 575px) {
        margin: 0 -40px;
    }
}

.b-contact-info {
    margin: 10px 0;

    span {
        font-size: 24px;
        margin-left: 25px;
    }

    @media all and (max-width: 767px) {
        img {
            width: 18px;
        }
        span {
            font-size: 18px;
            margin-left: 18px;
        }
    }
}

/*  block-cost
-------------------------------*/
.block-cost {
    background: #f1c773;
}

.view-cost {
    &__item {
        margin: 15px 0;
    }
    &__notation {
        margin-top: 60px;
    }

    &__show-more {
        color: #000;
        font-size: 14px;
        text-decoration: none;
        margin-top: 18px;
        display: none;
    }

    @media all and (max-width: 767px) {
        max-width: 330px;
        margin: auto;

        &__show-more {
            display: inline-block;
        }
    }
}
.cost-item {
    background: #eeba6b;
    border-radius: 16px;
    width: 100%;
    padding-top: 100%;
    height: 0;
    position: relative;

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
    }
    &__title {
        font-size: 21px;
        line-height: 165%;
        margin-top: 15px;
    }

    @media all and (max-width: 991px) {
        &__title {
            font-size: 18px;
        }
    }
    @media all and (max-width: 891px) {
        &__title {
            font-size: 17px;
        }
    }
    @media all and (max-width: 767px) {
        padding-top: 75%;

        &__title {
            font-size: 16px;
        }
    }
}

.show-more {
    $c: &;

    &__icon {
        transition: 0.3s;
    }

    &[aria-expanded="false"] {
        #{$c}__text-less {
            display: none;
        }
    }
    &[aria-expanded="true"] {
        #{$c}__text-more {
            display: none;
        }
        #{$c}__icon {
            transform: rotate(180deg);
        }
    }
}

/*  block-what-need
-------------------------------*/
.view-what-need {
    max-width: 714px;
    margin: 0 auto;

    &__item {
        &-wrap {
            padding: 25px;
        }
    }
    &__footer {
        margin-top: 25px;
        text-align: center;
    }

    @media all and (max-width: 575px) {
        max-width: 360px;
    }
}

.what-need-item {
    background: #eeba6b;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 100%;
    padding-top: 100%;
    height: 0;
    position: relative;

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
    }
    &__number {
        font-size: 21px;
        padding: 10px 15px 6px;
        line-height: 1.5;
        background: url("../img/round.png") no-repeat 50% / contain;
    }
    &__text {
        font-size: 21px;
        line-height: 150%;
    }

    @media all and (max-width: 767px) {
        &__text {
            font-size: 17px;
        }
    }
    @media all and (max-width: 575px) {
        padding-top: 85%;
    }
}

/*  footer
-------------------------------*/
.footer {
    background: #898191;
    padding: 58px 0 25px;
    color: #fff;

    &__logo {
        margin-bottom: 50px;
    }
    &__contact-info {
        font-size: 18px;
        margin: 15px 0;
    }
    &__copy {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 50px;
    }

    @media all and (max-width: 767px) {
        &__copy {
            font-size: 10px;
            text-align: center;
        }
    }
}

.footer-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    list-style: none;
    max-width: 512px;
    margin: 0 auto 25px;
    padding: 0;

    &__item {
        margin: 15px 0;
        text-align: center;
    }
    &__link {
        font-size: 18px;
        color: #fff;

        &:hover {
            color: rgb(201, 201, 201);
        }
    }

    @media all and (max-width: 767px) {
        max-width: 200px;

        &__item {
            width: 100%;
        }
        &__link {
            font-size: 14px;
        }
    }
}
